html {
    height: 100%; 
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-size: 16px;
    line-height: 1.6;
}

.vc-page-content, .vc-header, .vc-footer * {
    font-family: inherit; 
}

input, button, select, textarea {
    font-family: inherit; 
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700; 
}

p, a {
    font-weight: 400; 
}

a {
    text-decoration: none;
}

.vc-page-content {
    flex-grow: 1; 
}